*{
    font-family: "Ubuntu",sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 97vh;
    display: grid;
    place-items: center;
    /* background: #181819; */
}
button {
    position: relative;
    padding: 15px 65px;
    background: transparent;
    border: 1px solid orange;
    color: orange;
    font-family: poppins;
    font-size: 2.3em;
    border-radius: 30px;
    cursor: pointer;
    transition: .5s;
    overflow: hidden;
}

button:hover {
    color: #fff;
    filter: drop-shadow(0 0 25px orange);
}
button::after {
    content: "";
    position: absolute;
    top: 50%;
    left: -70%;
    transform: translate(-50%,-50%) skew(45deg);
    height: 100%;
    width: 120%;
    background: orange;
    transition: .3s;
    z-index: -1;
}

button:hover::after {
    transform: translate(50%,-50%) skew(45deg);
}