
/* ========Globals============= */
* {
    font-family: "Ubuntu", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    min-height: 100vh;
    overflow: hidden;

}

.container {
    position: relative;
    width: 100%;
    display: flex;
    
}

.navigation {
    position: fixed;
    width: 100%;
    height: 50px;
    background: #2a2185;
    border-left: 10px solid #2a2185;
    transition: 0.5s;
    overflow: hidden;
}

.navigation ul {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
}
.material-symbols-outlined{
    margin-top: 15px;
}
.navigation ul li {
    position: relative;
    width: 50%;
    list-style: none;

}

.navigation ul li:hover {
    background: #999;
}
#menu{
    margin-left: 100px;
}
.navigation ul li:nth-child(1) {
    pointer-events: none;
}

.navigation ul li a {
    position: relative;
    display: flex;
    text-decoration: none;
    color: #fff;
}

.navigation ul li:hover a {
    color: #2a2185;

}

.navigation ul li .icon {
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    text-align: center;
}



.navigation ul li a .title {
    position: relative;
    display: block;
    padding: 0 10px;
    height: 30px;
    line-height: 60px;
    text-align: start;
    white-space: nowrap;
}




main .aside-right  {
    width: 1100px;
    height: 100vh;
    margin-left:60px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
main .aside-right .aside-right-header{
    display: flex;
    justify-content: space-evenly;
    margin-top: 40px;
}

main .aside-right .add-card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 45vh;
    width: 250px;
    
}

main .aside-right .add-card input{
    height: 50px;
    border-radius: 5px;
    text-align: center;

}
main .aside-right .add-card .search #search-id{
    height: 100%;
    width: 75px;
    margin-left: -10px;
    border-radius:5px;
    background: blue;
    border: 1px solid black;
    color:white;
    font-weight: bold;
}
main .aside-right .add-card .box-add-card{
    height: 166px;
    border: 1px solid black;
}
main .aside-right .add-card .box-add-card p{
    color: black;
}

main .aside-right .add-card .box-add-card .header-box{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45px;
    border-bottom: 1px solid black;
   
}
main .aside-right .add-card .box-add-card .body-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}
main .aside-right .add-card .box-add-card .body-box{
    margin-left: 15px;
    margin-right: 15px;
}
main .aside-right .add-card .box-add-card .body-box span{
    color: black;
}
main .aside-right .add-card .box-add-card #add-to-card{
    width: 100%;
    height: 40px;
    border: none;
    border-top: 1px solid black;
    background: rgb(68, 226, 68);
    color: white;

}

main .aside-right .table-item {
    width: 50%;
    height: 90%;
}

main .aside-right .table-item h1 {
    color: black;
    text-align: center;
    margin-left:65%;
}

main .aside-right .table-item table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
    margin-left:50%;
}
main .aside-right .table-item table th{
    padding: 15px;
    background: teal;
    color: white;
    border: 1px solid white;
}
main .aside-right .table-item table td{
    text-align: center;
    padding: 10px;
    color:black;
    font-weight: bold;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
}
.btn {
    background-color:red;
    border: none;
    padding: 10px;
    border-radius: 40px;
    cursor: pointer;
}
.btn:hover{
    background:white;
}
main .aside-right .aside-right-footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 200px;
}
main .aside-right .table-item table tr td input{
    color: black;
    width: 50px;
    height: 20px;
}


main .aside-right .aside-right-footer {
    margin-left:40%;
    justify-content: center;
}
main .aside-right .aside-right-footer h4{
    font-weight: bold;
    color: black;
}
.aside-right-footer h4 span{
    font-weight: bold;
    color:black;
    text-align: center;
    
}
.aside-right-footer button{
    background: blue;
    width: 150px;
    height: 40px;
    border-radius:15px;
    border: none;
}
main .aside-right .aside-right-footer button a{
    color: white;
}


